<html>
    
    <title>PhoneBuzz</title>
    
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    </head>
    
    <body>
        <div class="container main">
            <span class="center">
                <img src="{{ url_for('static', filename='img/phonebuzz-logo.png') }}" class="header-image"></img>
                <div class="name">by Rachit Agarwal</div>
                <hr class="hr-gradient">
    
                <span class="content">
                    <span class="col-md-6">
                        <h3 class="section-title">Play</h3>
                        <div class="panel panel-primary option-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Option 1: Call PhoneBuzz</h3>
                            </div>
                            <div class="panel-body">
                                <a href="tel:3012311851" class="btn btn-info">Call <strong>301-231-1851</strong></a>
                            </div>
                        </div>
                        <div class="panel panel-primary option-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Option 2: Let PhoneBuzz Call You</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                <input type="text" class="form-control phone-input" id="inputDefault" placeholder="Phone Number">
                                <input type="text" class="form-control delay-input" id="inputDefault" placeholder="Delay (Optional)">
                                <br />
                                <a href="#" class="btn btn-info callme-button">Call me!</a>
    
                              </div>
                            </div>
                        </div>
                    </span>
            <span class="col-md-6">
                        <h3 class="section-title">History</h3>
    
                    </span>
            </span>
            </span>
        </div>
    </body>

</html>