<html>

<title>PhoneBuzz</title>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous" />
    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <div class="container main">
        <span class="center">
            <img src="{{ url_for('static', filename='img/phonebuzz-logo.png') }}" class="header-image" />
            <div class="name">by Rachit Agarwal</div>
            <hr class="hr-gradient" />

            <span class="content">
                <span class="col-md-6">
                    <h3 class="section-title">Play</h3>
                    <div class="panel panel-primary option-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Option 1: Call PhoneBuzz</h3>
                        </div>
                        <div class="panel-body">
                            <a href="tel:3012311851" class="btn btn-info">Call <strong>301-231-1851</strong></a>
                        </div>
                    </div>
                    <div class="panel panel-primary option-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Option 2: Let PhoneBuzz Call You</h3>
                        </div>
                        <div class="panel-body">
                            <form action="handle_option2" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="numberInput">Phone Number</label>
                                    <br />
                                    <input type="number" class="form-control phone-input" id="numberInput" placeholder="1234567890">
                                    <br />
                                        <label class="control-label" for="delayInput">Delay (Optional)</label>
                                    <div class="input-group">
                                        <input type="number" min="0" max="3600" class="form-control input-delay" id="delayInput" placeholder="0" aria-describedby="seconds-text">
                                        <span class="input-group-addon" id="seconds-text">seconds</span>
                                    </div>
                                <br />
                                <button type="submit" class="btn btn-info callme-button">Call me!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </span>

                <span class="col-md-6">
                    <h3 class="section-title">History</h3>
                </span>
           </span>
        </span>
    </div>
</body>

</html>
